@use "colors";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-moz-selection { /* Code for Firefox */
  background: rgba(colors.color(highlight), 0.2);
  color: colors.color(highlight);
}

::selection {
  background: colors.color(light-background);
  color: colors.color(highlight);
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;

  font-size: 16px;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

body {
  color: colors.color(foreground);
  background: colors.color(background);
}

img {
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
  user-select: none !important;
  -moz-user-drag: none !important;
  -webkit-user-drag: none !important;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  border-bottom: 1px solid transparent;

  &:hover {
    color: colors.color(highlight);
    border-bottom: 1px solid colors.color(highlight);
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100svw;
  min-height: 100vh;

  & > * {
    margin: 0 auto;
  }
}


.section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: min(100%, 1200px);
  // background: red;
  padding: 2rem;
  padding-bottom: 80px;

  &:first-of-type {
    padding-top: 150px;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid colors.color(light-background);
  }
}

.title {
  font-size: 3rem;
  font-weight: 700;
  color: colors.color(title);
}

.sub-title {
  font-size: 1.25rem;
  color: colors.color(foreground);
  font-weight: 600;
}

.highlight {
  color: colors.color(highlight);
}

.paragraph {
  color: colors.color(foreground);
  line-height: 1.5;
  font-size: 1.2rem;
  max-width: 800px;
  margin-top: 20px;
}

.header {
  width: 100svw;
  display: flex;
  position: fixed;
  top: 0;
  background: rgba(colors.color(background), 0.8);
  z-index: 9;
  
  // padding: 40px;
  align-items: center;
  justify-content: center;
  padding: 0 4vw;
  
  height: 100px;
  @media only screen and (max-width: 768px) {
    height: 70px;
  }
  
  .header-inner {
    display: inline-flex;
    justify-content: space-between;

    margin: 0 auto;
    width: min(100%, 1200px);
    align-items: center;
  }
  
  .logo-container {
    position: relative;
    width: 200px;
    height: fit-content;
    max-height: 40%;

    img {
      max-width: 100%;
      max-height: 100%;
      padding: 20px
    }
  }

  .nav-list {
    display: inline-flex;
    gap: 4rem;

    @media screen and (max-width: 768px) {
      gap: 2rem;
    }
  }

}

.footer {
  width: min(100%, 1200px);
  border-top: 1px solid colors.color(light-background);

  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 min(2vw, 25px);
  @media only screen and (max-width: 1080px) {
    height: 70px;
  }
}

.join-button {
  color: colors.color(title);
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;

  // &:hover {
  //   color: colors.color(highlight);
  // }
}